*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.nav_wrapper{
    display: flex;
    position: relative;
    justify-content: center;

}
.title{
    padding-bottom: 50;
}
.nav_bar{
    width: 200px;
    height: 100%;
    background: darkgray;
}

.text_container{
    background-color: cadetblue;
    width: 311px;
    height: 100%;
}
.vector_container{
    background-color: brown;
    width: 642px;
    height: 100%;
}